@charset "utf-8";

.login-page {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background: #e9eef3 url(../../public/images/login_bg.png);

    :global {
        .login-area {
            position: absolute;
            top: 50%;
            margin-top: -190px;
            right: 20%;
            width: 380px;
            height: 368px;
            background-color: rgba(222, 222, 222, 0.5);
        }
    }
}
