.ppt-header {
    height: 50px;
    position: relative;
    width: 100%;
    z-index: 101;
    // box-shadow: 0 5px 5px rgba(0, 0, 0, 0.35);
    padding: 0 20px;
    // border-bottom: 1px solid #282828;

    :global {
        .ant-tabs-ink-bar-animated {
            width: 68px !important;
        }

        .ppt-header-left {
            float: left;
            width: 30%;
            height: 50px;
            line-height: 50px;
        }

        .ppt-header-left-title {
            font-size: 24px;
            float: left;
        }

        .ppt-header-left-button {
            position: fixed;
            right: 30px;
            top: 0;
            margin: 6px;
            height: 15px;
            width: 70px;
            color: #ccc;
            transition: all 0.3s linear;
            cursor: pointer;
            vertical-align: middle;

            i {
                font-size: 26px;
            }

            .icon-tuichu::before {
                float: left;
                margin-top: 3px;
            }
        }

        .ppt-header-left-button:hover {
            transition: all 0.3s linear;
            color: #333;
        }

        .quitBase {
            color: #ccc;
            position: fixed;
            right: 30px;
            display: inline-block;
            transition: all 0.3s linear;
        }

        .quitBase:hover {
            color: #333;
            transition: all 0.3s linear;
        }

        .ppt-header-left-saveInfo {
            position: fixed;
            left: 300px;
            color: #999;
        }

        .ppt-header-middle {
            float: left;
            height: 30px;
            line-height: 30px;
            margin-top: 10px;
            text-align: center;
        }

        .ant-form-item-control > i {
            position: absolute;
            top: 2px;
            right: 9%;
            font-size: 30px;
        }

        .ppt-header-middle {
            float: left;
            width: 40%;
            transform: translate(0);
            height: 30px;
            line-height: 30px;
            text-align: center;

            .ppt-header-middle-div {
                text-align: center;
                font-size: 18px;
                color: #cdcdcd;
                margin-top: 7px;
            }

            .ppt-header-middle-div-content {
                display: inline-block;
                max-width: 70%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                position: relative;
                border-bottom: 1px solid #ccc;
                transition: all 0.3s linear;
            }

            .ppt-header-middle-div-content:hover {
                color: #888;
                border-bottom-color: #888;
                transition: all 0.3s linear;
            }
        }

        .ppt-header-right {
            float: right;
            height: 30px;
            line-height: 30px;
            text-align: center;
            margin-top: 10px;
            margin-right: 40px;

            .header-exit,
            .header-setting {
                .iconfont {
                    font-size: 24px;
                }
            }

            a {
                display: inline-block;
                color: #ccc;
                transition: all 0.3s linear;
                margin: 0 8px;
            }

            a:hover {
                color: #333;
                transition: all 0.3s linear;
            }

            .icon-bofang1::before {
                float: left;
                font-size: 28px;
            }
        }

        .ppt-header-right:hover {
            color: #333;
        }
    }
}
