@charset "utf-8";

.shape-tool {
    :global {
        .shape-tool-wrap {
            width: 40px;
            color: #666;
            transition: color 0.2s ease-out;
            cursor: pointer;

            &:hover {
                color: #009bee;
            }
        }

        .shape-icon {
            text-align: center;
            margin: 3px 0;
        }

        .shape-title {
            text-align: center;
        }
    }
}
